<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VentureOut</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    {% if post_list %}
    <div class="row row-cols-5">
        {% for post in post_list %}
        <div class="col">
            <div class="card-deck">
                <div class="card mt-2" style="width: 15rem">
                    <img class="card-img-top" src="{{ post.image.url }}" style="height: 12rem"
                        alt="{{ post.image.url }}">
                    <div class="card-body" style="height: 8rem">
                        <p class="card-text text-truncate"><strong>{{ post.user }}</strong> {{ post.caption }}</p>
                        <p class="card-text"><small class="text-muted">{{ post.location }} | {{ post.date }}</small></p>
                        <a href="" class="stretched-link" data-bs-toggle="modal"
                            data-bs-target="#detailModal{{ post.id }}"></a>
                    </div>
                </div>
                <div class="modal fade" id="detailModal{{ post.id }}">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="modal-title"><strong>{{ post.user }}</strong> | {{ post.location }}</p>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.image.url }}">
                                <p>{{ post.caption }}</p>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <p><small class="text-muted">{{ post.date }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}
    <p>No posts available.</p>
    {% endif %}
</body>

</html>
