{% extends "posts/base.html" %}

{% block content %}
<h2>Home</h2>
{% if post_list %}
<div class="row row-cols-5">
    {% for post in post_list %}
    <div class="col">
        <div class="card-deck">
            <div class="card mt-2" style="width: 15rem">
                <img class="card-img-top" src="{{ post.image.url }}" style="height: 12rem" alt="{{ post.image.url }}">
                <div class="card-body" style="height: 6rem">
                    <p class="card-text text-truncate"><strong>{{ post.user }}</strong> {{ post.caption }}</p>
                    <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
                    <a href="" class="stretched-link" data-bs-toggle="modal"
                        data-bs-target="#detailModal{{ post.id }}"></a>
                </div>
            </div>
            <div class="modal fade" id="detailModal{{ post.id }}">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title"><strong>{{ post.user }}</strong></p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.image.url }}">
                            <p>{{ post.caption }}</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <p><small class="text-muted">{{ post.date }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<p>No posts available.</p>
{% endif %}
{% endblock %}
