{% extends "posts/base.html" %}

{% block title %}Home - VentureOut{% endblock %}

{% block content %}
<div class="container" style="margin-top:100px">
    {% if post_list %}
    <div class="row row-cols-5">
        {% for post in post_list %}
        <div class="col">
            <div class="card-deck">
                <div class="card mt-2" style="width: 15rem">
                    <img class="card-img-top" src="{{ post.image.url }}" style="height: 12rem"
                        alt="{{ post.image.url }}">
                    <div class="card-body" style="height: 6rem">
                        <div class="float-end">
                            <a href="{% url 'posts:update' post.id %}"><i class="bi bi-pencil"></i></a>
                            <a href="{% url 'posts:delete' post.id %}"><i class="bi bi-trash"></i></a>
                        </div>
                        <p class="card-text text-truncate"><strong>{{ post.user}}</strong> {{ post.caption}}</p>
                        <p class="card-text"><small class="text-muted">{{ post.date }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No posts available.</p>
    {% endif %}
</div>
{% endblock %}
